@import './colors';
@import './animations';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.typed-cursor {
	display: none;
}

.inline {
	text-transform: uppercase;
	display: inline;
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

.connector {
	height: 100px;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	color: $white;
	background-color: $dark;
}

h1.company-name {
	margin-bottom: 0.5em;
	font-size: 3rem;
	font-family: 'Cinzel', serif;
	color: $gold;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.section-title {
	position: relative;
	margin: 0 auto 2em;
	font-size: 3.2rem;
	color: $gold;
	font-weight: 200;
	width: fit-content;

	&::before {
		position: absolute;
		bottom: -0.1em;
		left: 0;
		width: 40px;
		height: 2px;
		background-color: $gold;
		content: '';
	}

	span {
		font-weight: 900;
	}
}

// header
.header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	height: 100vh;
	position: relative;
	overflow: hidden;

	&__text {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-row: 2/3;
		grid-column: 1/3;
		padding: 2em;

		p {
			font-weight: 500;
		}
	}

	&__img {
		grid-row: 1/2;
		grid-column: 1/3;
		position: relative;
		width: 100%;
		height: 100%;
		background-image: url('../img/header-mini.jpg');
		background-size: cover;
		background-position: center;
	}

	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
	}

	&__arrow {
		display: none;
	}

	&__bg-icon-one,
	&__bg-icon-two {
		position: absolute;
		opacity: 0.05;
		z-index: 1;
	}

	&__bg-icon-one {
		bottom: 2em;
		right: -3em;
		width: 50%;
		animation: rotate-right 55s infinite linear;
	}

	&__bg-icon-two {
		display: none;
	}
}

.topmWave {
	width: 100vw;
	position: absolute;
	bottom: 0;
}

.headerWave {
	width: 100vw;
	position: absolute;
	bottom: 0;
	z-index: -1;
}

.hamburger {
	position: absolute;
	top: 3em;
	left: 1em;
	transform: translateY(-50%);
	z-index: 500;

	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $darker;
		z-index: 500;
	}
}

.auto-type,
.inline {
	background: #5a7885;
	background: linear-gradient(to right, #5a7885 0%, #9b7379 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.nav {
	&-mobile {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $white;
		transform: translateX(-102%);
		transition: opacity 0.5s, transform 0.5s;
		z-index: 10;

		&--active {
			transform: translateX(0);
		}
	}

	&-desktop {
		display: none;
	}

	&__link {
		position: relative;
		display: inline-block;
		margin: 0.5em;
		padding: 0.5em;
		font-size: 2.3rem;
		color: $darker;
		text-transform: uppercase;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: $gold;
		}
	}
}

// main
//profile

.cards {
	background-color: $darker;
	padding: 3.2rem;

	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	p {
		padding-top: 0.4em;
		color: $form;
	}

	&__main {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	h4 {
		padding-bottom: 0.8em;
		font-size: 5rem;
		font-weight: 300;
		color: $gold;
		text-align: center;
	}
	h4::first-letter {
		text-decoration: underline;
	}

	&__all {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2em;
		margin: 0.5em;
	}

	&__dots {
		display: flex;
		padding-top: 1em;
	}

	.green,
	.blink,
	.gray {
		width: 15px;
		height: 15px;
		border: 1px solid black;
		margin-right: 0.2em;
		border-radius: 50%;
	}

	.green {
		background-color: rgb(102, 159, 170);
	}

	.blink {
		animation: skills 3s infinite;
	}

	.gray {
		background-color: gray;
	}

	&__img {
		align-items: center;
		width: 50px;
		height: 50px;
		filter: sepia(0.3);
	}
}

.profile {
	position: relative;
	display: flex;
	justify-content: space-around;
	padding-bottom: 3em;
	width: 100%;

	h4 {
		text-align: center;
		font-size: 2.4rem;
		font-weight: 500;
		padding: 2em 0 0.5em 0;
		color: $gold;
	}

	&__Left {
		img {
			width: 240px;
			border-radius: 30%;
			padding: 0.2em;
			filter: grayscale(0.2);
		}
	}

	&__Right {
		position: relative;
		display: flex;
		width: 70%;
		height: 100%;
		flex-direction: column;
		justify-content: space-around;
		padding: 0.5em;

		p {
			width: 100%;
			padding-right: 1em;
			font-size: 1.6em;
			color: $gold;
			padding: 1em;
		}
	}

	&__Links {
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			padding-top: 0.4em;
			font-size: 1.6rem;
			color: $form;
		}
	}

	a{
		text-decoration: none;
	}

	&__github,
	&__youtube,
	&__linkedin {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding: 2em;
		transition: all 0.4s;
		cursor: pointer;

		img {
			width: 50px;
			height: 50px;
		}
	}

	&__github:hover,
	&__youtube:hover,
	&__linkedin:hover {
		filter: sepia(0.6);
		border-radius: 50%;
	}
}

.contactWave {
	position: absolute;
	top: -10px;
	right: 0;
	z-index: -2;
}

.midWave {
	position: absolute;
	top: -10px;
	width: 100vw;
	right: 0;
}

.monitorProject,
.phoneProject {
	position: absolute;
	scale: 7;
	top: 70%;
	right: 40%;
	animation: rotate-left 75s infinite;
	opacity: 0.05;
}

.phoneProject {
	top: 20%;
	right: 80%;
	animation: rotate-right 35s infinite;
	z-index: 1;
}

//projects
.projects {
	position: relative;
	padding: 3.2rem;
	background-color: $dark;
}

.project {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;

	&__description {
		padding: 1rem;
		color: $form;
	}

	&__one,
	&__two,
	&__three {
		z-index: 10;
		text-align: center;
		padding: 2.4rem;
		margin: 2.4rem;
		display: flex;
		flex-direction: column;
		border: 1px solid $form;
		border-radius: 15%;
		background-color: $darker;
		box-shadow: -4px 3px 19px -4px rgba(66, 68, 90, 1);

		h4 {
			font-size: 2.4rem;
			color: $gold;
			padding: 1rem;
			font-weight: 500;
		}

		img {
			height: 300px;
			width: auto;
			filter: sepia(0.1);
			border-radius: 10%;
			box-shadow: -4px 3px 19px -4px rgba(66, 68, 90, 1);
		}

		button {
			margin-top: 2rem;
			width: 80px;
			height: 40px;
			border-radius: 5%;
			border: 1px solid $form;
			background-color: $darker;
			cursor: pointer;
			color: $gold;
			transition: background-color 0.3s, color 0.3s;
			box-shadow: -4px 3px 19px -4px rgba(66, 68, 90, 1);
		}

		button:hover {
			background-color: $gold;
			color: $darker;
		}
	}
}

//contact

.contact {
	position: relative;
	padding: 6em 2em;
	z-index: -5;
	background-color: $darker;
	z-index: 2;

	&__form {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}

	&__form-box {
		label {
			display: block;
			margin-bottom: 0.5em;
			font-size: 2rem;
		}

		textarea {
			max-width: 100%;
			width: 100%;
			min-width: 100%;
		}

		input,
		textarea {
			padding: 1em 2em;
			margin-bottom: 2em;
			width: 100%;
			color: $white;
			background: none;
			border: 1px solid $form;

			&:focus {
				outline: none;
				border: 1px solid $gold;
			}
		}

		&:nth-child(1) {
			grid-column: 1/-1;
			grid-row: 1/2;
		}

		&:nth-child(2) {
			grid-column: 1/-1;
			grid-row: 2/3;
		}

		&:nth-child(3) {
			grid-column: 1/-1;
			grid-row: 3/4;
		}
	}

	&__form-btn {
		grid-column: 1/3;
		grid-row: 4/5;
		padding: 1em;
		border: 1px solid $form;
		background: none;
		font-weight: bold;
		color: $gold;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;

		&:hover,
		&:focus {
			outline: none;
			color: $dark;
			background-color: $gold;
		}
	}
}

  
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #5A7885 #BBC3C4;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
	width: 19px;
	width: 19px;
  }
  *::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #BBC3C4;
  }
  
  *::-webkit-scrollbar-track:hover {
	background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
	background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #5A7885;
  }
  
  *::-webkit-scrollbar-thumb:hover {
	background-color: #5A7885;
  }
  
  *::-webkit-scrollbar-thumb:active {
	background-color: #5A7885;
  }
@import './medium';
@import './large';
